<mat-card class="add-post">
  <div class="input-container">
    <img [src]="user.photo" [alt]="user.username" />
    <div matRipple class="input">
      What's on your mind ?
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="options">
    <div matRipple class="option-item">
      <mat-icon>voice_chat</mat-icon>
      <b>Live Video</b>
    </div>
    <div matRipple class="option-item">
      <mat-icon>photo_library</mat-icon>
      <b>Photos/Video</b>
    </div>
    <div matRipple class="option-item">
      <mat-icon>event</mat-icon>
      <b>Life Event</b>
    </div>
  </div>
</mat-card>