<div class="container">
  <main>
    <section>
      <app-social-about></app-social-about>
    </section>

    <section>
      <mat-card>
        <h2>Latest Photo</h2>
        <mat-divider></mat-divider>
        <div class="photo-grid-container">
          <img *ngFor="let i of images" [src]="i" alt="photo" />
        </div>
      </mat-card>
    </section>
  </main>

  <!-- right aside -->
  <aside>
    <mat-card class="activities-card">
      <h2>Last activities</h2>
      <mat-divider></mat-divider>
      <!-- pr scrollable container -->
      <div class="scrollable-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur in
        provident illo voluptates molestiae, distinctio, neque vero inventore
        eveniet voluptas quasi delectus eaque nulla fugiat nobis. Possimus
        assumenda fugit recusandae? Numquam perferendis officia ipsum animi
        reiciendis perspiciatis laboriosam natus iusto, vero totam et soluta
        molestiae voluptates? Ratione, sunt aliquid fugit, sit nostrum eum
        dolores amet ducimus rem omnis ipsum in. Omnis ratione blanditiis
        numquam autem totam praesentium velit cum soluta nisi. Sit mollitia quia
        porro neque inventore natus, molestias suscipit corporis iste architecto
        veniam expedita sed necessitatibus doloremque? Sit, rem! Recusandae ut
        quidem distinctio, itaque nihil exercitationem tempore. Libero
        recusandae earum unde animi mollitia consequuntur laborum, maiores nobis
        id quo minus ab facilis autem eveniet voluptates sunt voluptatem illo
        nostrum! Molestiae sapiente nulla voluptas minus voluptatem esse
        assumenda a voluptate, nam vero delectus perspiciatis numquam,
        repudiandae animi quos doloribus nihil atque cupiditate sed natus? Unde
        minima quis omnis repudiandae dolor.
      </div>
    </mat-card>
    <mat-card>
      <h2>Friend Suggestions</h2>
      <mat-divider></mat-divider>
      <!-- rows starts -->
      <div class="row">
        <app-row-item
          src="assets/images/portraits/5.png"
          (clickImage)="clickUser($event)"
        >
          <p class="username">Sena Ericsson</p>
          <span class="mat-caption">18 mutual friends</span>
        </app-row-item>
        <div class="fx-spacer"></div>
        <button mat-icon-button>
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
      <div class="row">
        <app-row-item src="assets/images/portraits/9.png">
          <p class="username">Joker the Explorer</p>
          <span class="mat-caption">2 mutual friends</span>
        </app-row-item>
        <div class="fx-spacer"></div>
        <button mat-icon-button disabled>
          <mat-icon>checked</mat-icon>
        </button>
      </div>
      <div class="row">
        <app-row-item src="assets/images/portraits/2.png">
          <p class="username">Traxex</p>
          <span class="mat-caption">7 mutual friends</span>
        </app-row-item>
        <div class="fx-spacer"></div>
        <button mat-icon-button dis>
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
      <div class="row">
        <app-row-item src="assets/images/portraits/4.png">
          <p class="username">Strygwyr</p>
          <span class="mat-caption">9 mutual friends</span>
        </app-row-item>
        <div class="fx-spacer"></div>
        <button mat-icon-button>
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </mat-card>
  </aside>
</div>
