section {
  margin: 1rem 0;
}

mat-divider {
  position: unset;
}

.container {
  display: flex;
  flex-direction: column;
}

.photo-grid-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  img {
    place-self: stretch center;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
  }
}

.activities-card {
  overflow: hidden;
  .scrollable-container {
    margin-top: 2rem;
    max-height: 400px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

aside {
  p {
    margin: 0;
  }
  mat-card {
    margin-bottom: 1rem;
  }
  
  .mat-caption {
    color: #999;
  }
}

.row {
  display: flex;
  align-items: center;
  .username {
    cursor: pointer;
  }
  [mat-icon-button] {
    background-color: #1a237e14;
    margin-left: 1rem;
  }
}

// desktop
@media (min-width: 777px) {
  .container {
    flex-direction: row;
  }
  main {
    flex: 2;
  }
  .photo-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  aside {
    flex: 1;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
