<mat-toolbar
  [ngClass]="(isHandset$ | async) ? 'mat-elevation-z2' : 'mat-elevation-z4'"
  color="primary"
>
  <button mat-icon-button (click)="clickMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <div routerLink="/" class="branding-container">
    <img src="favicon.ico" alt="brand image" />
    <span>Angular</span>
  </div>

  <!-- topnav spacer -->
  <span class="spacer"></span>

  <button mat-icon-button (click)="toggleDarkMode()">
    <mat-icon>palette</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <div mat-menu-item class="user">
      <img src="assets/images/portrait.png" alt="username" />
      <div class="meta">
        <h3>vforvodka</h3>
        <small>Radvil Loade</small>
      </div>
    </div>

    <button mat-menu-item routerLink="/">
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>

    <button mat-menu-item routerLink="auth/login">
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>

    <button mat-menu-item>
      <mat-icon color="warn">power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
