<mat-card>
  <h2>About</h2>
  <mat-divider></mat-divider>

  <div class="about-list">
    <app-row-item iconName="phone" iconColor="accent">
      <p>+1 (930) 502-3182</p>
      <span class="mat-caption">Business</span>
    </app-row-item>

    <app-row-item iconName="work_outline" iconColor="accent">
      <p>Wev Developer at Google</p>
      <span class="mat-caption">Previous Designer at M&M</span>
    </app-row-item>

    <app-row-item iconName="email" iconColor="accent">
      <p>radvil.phone@gmail.com</p>
      <span class="mat-caption">Business Only</span>
    </app-row-item>

    <app-row-item iconName="schedule" iconColor="accent">
      <p>Available at 9am - 5pm</p>
      <span class="mat-caption">Call +62819946969 for information</span>
    </app-row-item>

    <app-row-item iconName="add">
      <p>Add an address</p>
    </app-row-item>

    <app-row-item iconName="add">
      <p>Add social links</p>
    </app-row-item>
  </div>
</mat-card>
