<rad-card>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="over" opened>
      <ul class="chats--list">
        <li class="chats--list-header">
          <mat-icon>chat</mat-icon>&nbsp;
          <h1 class="m0">Chats</h1>
        </li>
        <li
          *ngFor="let conv of conversations$ | async"
          matRipple
          class="chats--list-item"
        >
          <img [src]="conv.from.photo" [alt]="conv.from.username" width="45" />
          <div class="fx-spacer df fdc jcc">
            <h3 class="m0">{{ conv.from.username }}</h3>
            <p *ngIf="conv.chats[0].message" class="m0">
              {{ conv.chats[0].message | truncate: 25 }}
            </p>
          </div>
          <div *ngIf="conv.updatedAt" class="time">
            {{ conv.updatedAt.toString() | relativeTime }}
          </div>
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</rad-card>
