<div class="rad-dialog-header">
  <h2>{{ headerText }}</h2>
  <span class="fx-spacer"></span>
  <button
    mat-icon-button
    matTooltip="Options"
    aria-label="customer menu"
    [matMenuTriggerFor]="dialogMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #dialogMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>
        <mat-icon>print</mat-icon>
        <span>Print</span>
      </button>
      <button mat-menu-item>
        <mat-icon>cloud_download</mat-icon>
        <span>Export</span>
      </button>
      <button mat-menu-item>
        <mat-icon color="warn">delete</mat-icon>
        <span>Delete</span>
      </button>
    </ng-template>
  </mat-menu>

  <button
    mat-icon-button
    matTooltip="Close"
    color="warn"
    (click)="dialogRef.close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<div class="rad-dialog-content">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-dialog-content>
      <div class="fx-2-large">
        <!-- firstName -->
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <div matPrefix><mat-icon>account_circle</mat-icon></div>
          <input matInput type="text" formControlName="firstName" required />
          <mat-error *ngIf="firstName?.invalid">{{ getFirstNameError() }}</mat-error>
        </mat-form-field>
      
        <!-- lastName -->
        <mat-form-field appearance="fill">
          <div matPrefix><mat-icon>account_circle</mat-icon></div>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" />
        </mat-form-field>
      </div>

      <!-- address -->
      <ng-container formGroupName="address">
        <mat-form-field appearance="fill">
          <mat-label>Street</mat-label>
          <div matPrefix><mat-icon>edit_location_alt</mat-icon></div>
          <input matInput type="text" formControlName="street" />
        </mat-form-field>

        <div class="fx-2-large">
          <mat-form-field appearance="fill">
            <mat-label>Zip Code</mat-label>
            <div matPrefix><mat-icon>dns</mat-icon></div>
            <input matInput type="text" formControlName="zipCode" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <div matPrefix><mat-icon>location_city</mat-icon></div>
            <input matInput type="text" formControlName="city" />
          </mat-form-field>
        </div>
      </ng-container>

      <!-- contact -->
      <ng-container formGroupName="contact">
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <div matPrefix><mat-icon>phone</mat-icon></div>
          <input matInput type="tel" formControlName="phone" required />
          <mat-error *ngIf="contact?.invalid">{{ getPhoneError() }}</mat-error>
        </mat-form-field>
      </ng-container>

      <!-- notes -->
      <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          rows="4"
          type="text"
          autocomplete="off"
          formControlName="notes"
          placeholder="Write description.."
        ></textarea>
      </mat-form-field>
    </mat-dialog-content>

    <div class="form-buttons-group">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
      <button
        type="button"
        (click)="dialogRef.close(null)"
        mat-stroked-button
        color="warn"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
