// global styles
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.branding-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 0.5rem;
  img {
    margin-right: 0.5rem;
  }
}
.badge {
  background-color: deeppink;
  font-weight: bold;
  color: #222;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;

  &.dark {
    background-color: navy;
    color: #fff;
  }
  &.red {
    background-color: red;
  }
  &.orange {
    background-color: darkorange;
  }
  &.yellow {
    background-color: gold;
  }
  &.green {
    background-color: mediumseagreen;
  }
  &.blue {
    background-color: #2bc6e8;
  }
}
.themes-menu-dialog {
  height: 180px;

  .themes_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .theme {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background-color: deeppink;
    border: 10px solid whitesmoke;
    padding: 2px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}
.fx-spacer {
  flex: 1 0 auto;
}
.rad-dialog-overlay {
  max-width: 90vw !important;

  .mat-dialog-container {
    padding: 0;
  }
  .rad-dialog-header {
    display: flex;
    align-items: center;
    padding: 1rem;

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
  }
  .rad-dialog-content {
    padding: 24px;
  }
  form {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  [matPrefix] {
    margin-right: 1rem;
  }
  .fx-2-large {
    // large device
    @media (min-width: 777px) {
      display: flex;
      justify-content: space-between;
      & > * {
        width: 48%;
      }
    }
  }
}
