// global styles
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-size: 16px;
}
.branding-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 0.5rem;
  img {
    margin-right: 0.5rem;
  }
}
.badge {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;

  &.dark {
    background-color: navy;
  }
}
.themes-menu-dialog {
  height: 180px;

  .themes_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .theme {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background-color: deeppink;
    border: 10px solid whitesmoke;
    padding: 2px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}
