// reset defaults
* {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &:active,
  :focus {
    outline: none;
  }
}
table {
  &.full-width {
    width: 100%;
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
}
.mat-menu-panel {
  border-radius: unset !important;
  min-height: unset !important;
}
.mat-form-field-outline-start,
.mat-form-field-outline-end {
  border-radius: unset !important;
}
.mat-menu-content:not(:empty) {
  padding: unset !important;
}

// black theme reset
.rad-black-theme {
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: #6666;
  }
  .rad-card {
    background-color: #181818 !important;
  }
  foreignObject, apx-chart svg {
    background-color: #181818 !important;
  }
}

.rad-blue-theme {
  .rad-card {
    background-color: white;
  }
}