<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="chart">
  <div class="card-header">
    <h2>User & Session Analytics</h2>
    <span class="fx-spacer"></span>
    <div class="card-header-action">
      <button mat-icon-button>
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </div>
  <apx-chart
    [stroke]="chartOptions.stroke"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
    [theme]="chartOptions.theme"
    [grid]="chartOptions.grid"
  ></apx-chart>
</mat-card>
