@import '.~@angular/material/theming';
@import './palette';

@include mat-core();

$rad-primary: mat-palette($mat-indigo, 900);
$rad-accent: mat-palette($mat-pink, 500);
$rad-warn: mat-palette($mat-red, A700);

$rad-light-theme: mat-light-theme($rad-primary, $rad-accent, $rad-warn);
$rad-dark-theme: mat-dark-theme($rad-primary, $rad-accent, $rad-warn);

// merge resets
$dark-background-reset: map_merge(
  map-get($rad-dark-theme, background), (
    background: #0a0a0a,
    app-bar: map-get($rad-grey, 900),
    selected-button: map-get($rad-grey, 900),
    card: map-get($rad-grey, 800),
    dialog: map-get($rad-grey, 900),
    raised-button: map-get($rad-grey, 800),
    selected-disabled-button: map-get($rad-grey, 800),
    unselected-chip: map-get($rad-grey, 700),
    tooltip: map-get($rad-grey, 700),
  )
);
$light-background-reset: map_merge(
  map-get($rad-light-theme, background), (
    background: #f2f2f2
  )
);
$rad-dark-theme: map_merge($rad-dark-theme, (background: $dark-background-reset));
$rad-light-theme: map_merge($rad-light-theme, (background: $light-background-reset));

// component mixin
@mixin rad-components-theme($theme) {
	// @include rad-main-layout-theme($theme);
}

// theme class
.rad-light-theme {
  @include angular-material-theme($rad-light-theme);
  @include rad-components-theme($rad-light-theme);
}

.rad-dark-theme {
  @include angular-material-theme($rad-dark-theme);
  @include rad-components-theme($rad-dark-theme);
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: #00000066;
  }
}