<div class="grid-container">
  <section class="intro">
    <dash-intro></dash-intro>
  </section>

  <section class="mini-chart">
    <dash-mini-chart
      [title]="pageViewsChartConfig.title!"
      [subtitle]="pageViewsChartConfig.subtitle!"
      [chartTheme]="pageViewsChartConfig.chartTheme!"
      [series]="pageViewsChartConfig.series!"
    ></dash-mini-chart>
  </section>

  <section>
    <dash-mini-chart
      [title]="uniqueUsersChartConfig.title!"
      [subtitle]="uniqueUsersChartConfig.subtitle!"
      [chartTheme]="uniqueUsersChartConfig.chartTheme!"
      chartColor="deeppink"
      [series]="uniqueUsersChartConfig.series!"
    ></dash-mini-chart>
  </section>

  <section class="user-sessions">
    <user-chart></user-chart>
  </section>

  <section class="recent-sales">
    <dash-table></dash-table>
  </section>

  <section>
    <dash-value-center
      title="67.4k"
      subtitle="Users"
      color="blue"
      footerText="120.9%"
      [icons]="['people', 'keyboard_arrow_up']"
    ></dash-value-center>
  </section>

  <section>
    <dash-value-center
      title="96.2k"
      subtitle="Session"
      color="red"
      footerText="-13%"
      [icons]="['trending_up', 'keyboard_arrow_down']"
    ></dash-value-center>
  </section>

  <section>
    <dash-value-center
      title="9.2%"
      subtitle="Bounce Rate"
      color="orange"
      footerText="42%"
      [icons]="['people', 'keyboard_arrow_up']"
    ></dash-value-center>
  </section>

  <section>
    <dash-value-center
      title="18m 36s"
      subtitle="Session Duration"
      color="green"
      footerText="27%"
      [icons]="['av_timer', 'keyboard_arrow_up']"
    ></dash-value-center>
  </section>

  <section class="overview">
    <dash-overview
      [chartThemeMode]="chartThemeMode"
      [series]="overviewSeries"
      [xAxis]="overviewXAxis"
    ></dash-overview>
  </section>
</div>
