<rad-card>
  <div radFloatHover class="share">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <div class="card-header">
    <div class="text">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
    <span class="fx-spacer"></span>
    <button mat-icon-button>
      <mat-icon>code</mat-icon>
    </button>
  </div>
  <apx-chart
    [series]="series!"
    [chart]="chartOptions.chart!"
    [theme]="chartOptions.theme!"
    [fill]="chartOptions.fill"
    [colors]="[themeColor]"
  ></apx-chart>
</rad-card>
