// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./themes/theme";
@import "~material-design-icons/iconfont/material-icons.css";

// reset defaults
* {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &:active,
  :focus {
    outline: none;
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: unset !important;
  border-bottom-style: unset !important;
}
.mat-menu-panel {
  border-radius: unset !important;
  min-height: unset !important;
}
.mat-form-field-outline-start, 
.mat-form-field-outline-end {
  border-radius: unset !important;
}
.mat-menu-content:not(:empty) {
  padding: unset !important;
}

// global styles
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}
.branding-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 1rem;
  img {
    margin-right: 0.5rem;
  }
}
.badge {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;

  &.dark {
    background-color: navy;
  }
}